<h1>Sign In to the system</h1>
<form [formGroup]="userForm">
    <div>
        Email
        <input formControlName="email" type="text" />
    </div>
    <div>
        Password
        <input formControlName="password" type="password" />
    </div>
</form>
<button (click)="signIn()">Sign In</button>